<div class="demo-stories">
  <a href="#slide1" data-id="0">
    <span class="demo-stories-avatar">
      <img
        src="https://bisoubx.a-media-test.ru/upload/iblock/1de/v0wfqacbeybgp4jhi36box1lwxxrn52e.png"
        alt=""
      />
    </span>
    <span class="demo-stories-name">mark_johnson</span>
  </a>
  <a href="#slide2" data-id="1">
    <span class="demo-stories-avatar">
      <img
        src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
        alt=""
      />
    </span>
    <span class="demo-stories-name">malenia</span>
  </a>
  <a href="#slide3" data-id="2">
    <span class="demo-stories-avatar">
      <img
        src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
        alt=""
      />
    </span>
    <span class="demo-stories-name">malenia</span>
  </a>
</div>

<!-- Stories Slider -->
<div class="stories-slider stories-slider-perspective">
  <div
    class="swiper swiper-3d js-swiper-pagination-progress-with-thumbs-main-2"
  >
    <div class="swiper-wrapper">
      <!--USER 1-->
      <div class="swiper-slide" data-hash="slide1">
        <div class="swiper js-swiper-pagination-progress-with-thumbs-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-1.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-3.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-2.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <video
                  class="mainscreen__video"
                  autoplay=""
                  muted=""
                  src="https://stories-slider.uiinitiative.com/video.mp4"
                  playsinline=""
                  preload="metadata"
                ></video>
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
          </div>
          <!--PAGINATION-->
          <div class="stories-slider-pagination"></div>
        </div>
      </div>
      <!--USER 2-->
      <div class="swiper-slide" data-hash="slide2">
        <div class="swiper js-swiper-pagination-progress-with-thumbs-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-1.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-3.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-2.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <video
                  class="mainscreen__video"
                  autoplay=""
                  muted=""
                  src="https://stories-slider.uiinitiative.com/video.mp4"
                  playsinline=""
                  preload="metadata"
                  loop
                ></video>
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
          </div>
          <!--PAGINATION-->
          <div class="stories-slider-pagination"></div>
        </div>
      </div>
      <!--USER 3-->
      <div class="swiper-slide" data-hash="slide3">
        <div class="swiper js-swiper-pagination-progress-with-thumbs-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-1.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-3.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-2.jpg"
                  alt="Image Description"
                />
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories-slider-user">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-actions">
                <button class="stories-slider-close-button"></button>
              </div>
              <div class="stories-slider-content">
                <video
                  class="mainscreen__video"
                  autoplay=""
                  muted=""
                  src="https://stories-slider.uiinitiative.com/video.mp4"
                  playsinline=""
                  preload="metadata"
                  loop
                ></video>
              </div>
              <div
                class="stories-slider-button stories-slider-button-prev"
              ></div>
              <div
                class="stories-slider-button stories-slider-button-next"
              ></div>
            </div>
          </div>
          <!--PAGINATION-->
          <div class="stories-slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
