<div class="demo-stories">
  <a href="#slide1" data-stories-index="0">
    <span class="demo-stories-avatar">
      <img
        src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
        alt=""
      />
    </span>
    <span class="demo-stories-name">mark_johnson</span>
  </a>
  <a href="#slide2" data-stories-index="1">
    <span class="demo-stories-avatar">
      <img
        src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
        alt=""
      />
    </span>
    <span class="demo-stories-name">malenia</span>
  </a>
</div>
<!-- Stories Slider-->
<div class="stories-slider stories-slider-perspective">
  <div
    class="swiper swiper-3d js-swiper-pagination-progress-with-thumbs-main-2"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper js-swiper-pagination-progress-with-thumbs-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">15m</div>
              </a>
              <div class="stories-slider-content">
                <video
                  src="https://stories-slider.uiinitiative.com/video.mp4"
                  muted="muted"
                  playsinline="playsinline"
                  preload="metadata"
                ></video>
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">45m</div>
              </a>
              <div class="stories-slider-content">
                <video
                  src="https://i.imgur.com/rTJiqGr.mp4"
                  muted="muted"
                  playsinline="playsinline"
                  preload="metadata"
                ></video>
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-1.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">1h</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-3.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/mark.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">mark_johnson</div>
                <div class="stories-slider-user-date">30m</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://stories-slider.uiinitiative.com/images/food-2.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
          </div>
          <div class="stories-slider-pagination"></div>
          <div class="stories-slider-button stories-slider-button-prev"></div>
          <div class="stories-slider-button stories-slider-button-next"></div>
          <!-- <div class="stories-slider-actions">
            <button class="stories-slider-close-button"></button>
          </div> -->
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper js-swiper-pagination-progress-with-thumbs-main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">2h</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://i.imgur.com/oEsWVUF.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">1h</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://i.imgur.com/x4n5gRK.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <a class="stories-slider-user" href="#">
                <div class="stories-slider-user-avatar">
                  <img
                    src="https://stories-slider.uiinitiative.com/avatars/malenia.jpg"
                  />
                </div>
                <div class="stories-slider-user-name">malenia</div>
                <div class="stories-slider-user-date">30m</div>
              </a>
              <div class="stories-slider-content">
                <img
                  src="https://i.imgur.com/39ND5tK.jpg"
                  alt="Image Description"
                />
              </div>
            </div>
          </div>
          <div class="stories-slider-pagination"></div>
          <div class="stories-slider-button stories-slider-button-prev"></div>
          <div class="stories-slider-button stories-slider-button-next"></div>
          <!-- <div class="stories-slider-actions">
            <button class="stories-slider-close-button"></button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="stories-slider-actions">
      <button class="stories-slider-close-button"></button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
